<p>
  Good work decoding the message. You are definitely agent material. However, before we can give you an official assignment we need to see your skills in action. A series of tests have been created to give you a feel for the job. Remember this is a highly sensitive operation you are training for so don't discuss our communication or your involvent with anyone. Stay sharp. We are watching.
</p>