// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: 

body {
  background-color: #000;
}

img.logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 60px;
}